force-app/main/default/flows/AssignCadence.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Add a lead or contact to a sample sales cadence. If an open opportunity is related to the contact, relate it to the sales cadence target.</description>
        <name>Assign_Target_to_Sales_Cadence</name>
        <label>Assign Target to Sales Cadence</label>
        <locationX>512</locationX>
        <locationY>1190</locationY>
        <actionName>assignTargetToSalesCadence</actionName>
        <actionType>assignTargetToSalesCadence</actionType>
        <connector>
            <targetReference>Check_Assign_to_Cadence</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Lookup_Task</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>salesCadenceNameOrId</name>
            <value>
                <elementReference>Cadence_Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>Target_Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>userId</name>
            <value>
                <elementReference>Owner_Id</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>Assignment_Error</assignToReference>
            <name>error</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <description>If the flow can&apos;t add the target to the sample sales cadence, create a task to add the target manually.</description>
        <name>Create_Task</name>
        <label>Create Task</label>
        <locationX>50</locationX>
        <locationY>1670</locationY>
        <actionName>NewTask</actionName>
        <actionType>quickAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>OwnerId</name>
            <value>
                <elementReference>Owner_Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>WhoId</name>
            <value>
                <elementReference>Target_Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Subject</name>
            <value>
                <elementReference>CadenceSubject</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Assign_Contact</name>
        <label>Assign Contact</label>
        <locationX>248</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>Target_Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_MU.ContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Owner_Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_MU.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Owner_a_User</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Current_User_as_Owner</name>
        <label>Assign Current User as Owner</label>
        <locationX>600</locationX>
        <locationY>854</locationY>
        <assignmentItems>
            <assignToReference>Owner_Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Lookup_Cadence</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Lead</name>
        <label>Assign Lead</label>
        <locationX>512</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>Target_Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Lead.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Owner_Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Lead.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Owner_a_User</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Check the result returned by the Add Target to Sales Cadence flow. If there is an error, then create a task to add the target manually.</description>
        <name>Check_Assign_to_Cadence</name>
        <label>Check Assign to Cadence</label>
        <locationX>512</locationX>
        <locationY>1310</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Error</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Assignment_Error</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Assignment_Error</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lookup_Task</targetReference>
            </connector>
            <label>Error</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check if the task was already created. If is has, then don&apos;t create another one.</description>
        <name>Check_Task_Exists</name>
        <label>Check Task Exists</label>
        <locationX>182</locationX>
        <locationY>1550</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Task</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Task_Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Task</targetReference>
            </connector>
            <label>No Task</label>
        </rules>
    </decisions>
    <decisions>
        <name>Contact_Or_Lead</name>
        <label>Contact Or Lead</label>
        <locationX>512</locationX>
        <locationY>278</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isContact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_MS.EndUserContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_MU</targetReference>
            </connector>
            <label>Contact</label>
        </rules>
        <rules>
            <name>isLead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_MS.LeadId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Lead</targetReference>
            </connector>
            <label>Lead</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Owner_a_User</name>
        <label>Is Owner a User?</label>
        <locationX>512</locationX>
        <locationY>734</locationY>
        <defaultConnector>
            <targetReference>Assign_Current_User_as_Owner</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Owner_Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Owner_Id</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>005</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lookup_Cadence</targetReference>
            </connector>
            <label>Is User</label>
        </rules>
    </decisions>
    <description>Find the sample sales cadence and add the target to it. If the sales cadence is deactivated, inaccessible, can&apos;t be found, or adding the target fails, create a task to add the target manually.</description>
    <environments>Default</environments>
    <interviewLabel>Sales Bot - Assign Cadence {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Sales Bot - Assign Cadence</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Lead</name>
        <label>Get Lead</label>
        <locationX>512</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Lead</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_MS.LeadId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_MS</name>
        <label>Get MS</label>
        <locationX>512</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Contact_Or_Lead</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>routableId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>MessagingSession</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_MU</name>
        <label>Get MU</label>
        <locationX>248</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_MS.MessagingEndUserId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>MessagingEndUser</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Find a matching sales cadence using the Name (Sales Bot Sales Cadence) and State (Active), and store the sales cadence ID.</description>
        <name>Lookup_Cadence</name>
        <label>Lookup Cadence</label>
        <locationX>512</locationX>
        <locationY>1070</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Target_to_Sales_Cadence</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Lookup_Task</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CadenceName</elementReference>
            </value>
        </filters>
        <filters>
            <field>State</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <object>ActionCadence</object>
        <outputAssignments>
            <assignToReference>Cadence_Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <description>Find a matching task using the Subject, WhoId, and OwnerId fields and store the task ID.</description>
        <name>Lookup_Task</name>
        <label>Lookup Task</label>
        <locationX>182</locationX>
        <locationY>1430</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Task_Exists</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Create_Task</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Subject</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CadenceSubject</elementReference>
            </value>
        </filters>
        <filters>
            <field>WhoId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Target_Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </filters>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Owner_Id</elementReference>
            </value>
        </filters>
        <object>Task</object>
        <outputAssignments>
            <assignToReference>Task_Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <start>
        <locationX>386</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_MS</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Assignment_Error</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Cadence_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CadenceName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CadenceSubject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Owner_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>routableId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Target_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Task_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
