force-app/main/default/flows/Buyer_Bot_Verify_Email_Code.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Set_Verified_Status</name>
        <label>Set Verified Status</label>
        <locationX>50</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>VerifiedStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Verify_Contact</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_Code_Valid</name>
        <label>Is Code Valid?</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Valid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CustomerCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>VerificationCode</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Verified_Status</targetReference>
            </connector>
            <label>Valid</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Buyer Bot - Verify Email Code {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Buyer Bot - Verify Email Code</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Messaging_Session</name>
        <label>Get Messaging Session</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Messaging_End_User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Routable_Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>MessagingSession</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Verify_Contact</name>
        <label>Verify Contact</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Verify_Lead</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Email_Address</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>Contact_Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Verify_Lead</name>
        <label>Verify Lead</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Messaging_Session</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Email_Address</elementReference>
            </value>
        </filters>
        <object>Lead</object>
        <outputAssignments>
            <assignToReference>Lead_Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Messaging_End_User</name>
        <label>Update Messaging End User</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <connector>
            <targetReference>Update_Messaging_Session</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Messaging_Session.MessagingEndUserId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>Contact_Id</elementReference>
            </value>
        </inputAssignments>
        <object>MessagingEndUser</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Messaging_Session</name>
        <label>Update Messaging Session</label>
        <locationX>50</locationX>
        <locationY>878</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Routable_Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ChannelIntent</field>
            <value>
                <elementReference>Inquiry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadId</field>
            <value>
                <elementReference>Lead_Id</elementReference>
            </value>
        </inputAssignments>
        <object>MessagingSession</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Code_Valid</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>Contact_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CustomerCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Email_Address</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Inquiry</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Lead_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Routable_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VerificationCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VerifiedStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>false</stringValue>
        </value>
    </variables>
</Flow>
