force-app/main/default/flows/SalesBotGetSalesRep.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Assign_Lead_to_MS</name>
        <label>Assign Lead to MS</label>
        <locationX>732</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>Get_MS.LeadId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>leadId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_LeadId_on_MS</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Account_Oppty_Found</name>
        <label>Account Oppty Found?</label>
        <locationX>248</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>Get_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AccountOpptyFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>routetarget</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Messaging_User</targetReference>
            </connector>
            <label>Account Opportunity Found</label>
        </rules>
        <rules>
            <name>Lead_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>leadId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Assign_Lead_Owner</targetReference>
            </connector>
            <label>No Oppty, Lead Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_OCR_Owner_Found</name>
        <label>Is OCR Owner Found?</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>Get_Account_Opportunity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OCR_Owner_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>routetarget</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Messaging_User</targetReference>
            </connector>
            <label>OCR Owner Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Record_Type</name>
        <label>Record Type</label>
        <locationX>523</locationX>
        <locationY>278</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isContact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>contactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_OCR_Owner</targetReference>
            </connector>
            <label>Contact</label>
        </rules>
        <rules>
            <name>isLead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>leadId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Lead_Owner</targetReference>
            </connector>
            <label>Lead</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Sales Bot - Get Sales Rep {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Sales Bot - Get Sales Rep</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Assign_Lead_Owner</name>
        <label>Assign Lead Owner</label>
        <locationX>732</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Lead_to_MS</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>leadId</elementReference>
            </value>
        </filters>
        <object>Lead</object>
        <outputAssignments>
            <assignToReference>routetarget</assignToReference>
            <field>OwnerId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>468</locationX>
        <locationY>878</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CreateLead</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>contactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_MS</name>
        <label>Get Messaging Session</label>
        <locationX>523</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>routableId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>MessagingSession</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_LeadId_on_MS</name>
        <label>Update LeadId on MS</label>
        <locationX>732</locationX>
        <locationY>638</locationY>
        <inputReference>Get_MS</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Messaging_User</name>
        <label>Update Messaging User</label>
        <locationX>50</locationX>
        <locationY>1430</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_MS.MessagingEndUserId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>contactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>routetarget</elementReference>
            </value>
        </inputAssignments>
        <object>MessagingEndUser</object>
    </recordUpdates>
    <start>
        <locationX>397</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_MS</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>CreateLead</name>
        <label>Create Lead</label>
        <locationX>468</locationX>
        <locationY>998</locationY>
        <flowName>setup_sales_bot__CreateLead</flowName>
        <inputAssignments>
            <name>Company</name>
            <value>
                <elementReference>accountName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Email_Address</name>
            <value>
                <elementReference>Get_Contact.Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>First_Name</name>
            <value>
                <elementReference>Get_Contact.FirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Last_Name</name>
            <value>
                <elementReference>Get_Contact.LastName</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>leadId</assignToReference>
            <name>Lead_Id</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Get_Account_Opportunity</name>
        <label>Get Account Opportunity</label>
        <locationX>248</locationX>
        <locationY>638</locationY>
        <connector>
            <targetReference>Account_Oppty_Found</targetReference>
        </connector>
        <flowName>LookupAccountOpportunity</flowName>
        <inputAssignments>
            <name>Contact_Id</name>
            <value>
                <elementReference>contactId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>accountName</assignToReference>
            <name>Account_Name</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>routetarget</assignToReference>
            <name>Opportunity_Owner_Id</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Get_OCR_Owner</name>
        <label>Get OCR Owner</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <connector>
            <targetReference>Is_OCR_Owner_Found</targetReference>
        </connector>
        <flowName>GetOpportunitiesviaOpportunityContactRole</flowName>
        <inputAssignments>
            <name>Contact_Id</name>
            <value>
                <elementReference>contactId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>routetarget</assignToReference>
            <name>Opportunity_Owner_Id</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>accountName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>agentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>0058V00000CVkn7QAD</stringValue>
        </value>
    </variables>
    <variables>
        <name>agentnum</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>contactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>leadId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>routableId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>routetarget</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
